.name-input-wrapper {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.name-input-label {
  font-size: 16px;
  padding-bottom: 8px;
  display: inline-block;
}

.name-input {
  border: 2px solid var(--light-grey-2);
  border-radius: 4px;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  text-align: center;
  font-size: 18px;
  padding: 8px;
}
.name-input::placeholder {
  color: var(--dark-grey);
}

.name-input:focus::placeholder {
  color: transparent;
}
