.random-button {
  text-decoration: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--blue);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

.refresh-icon {
  transform-origin: center;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.refresh-icon path {
  fill: var(--blue);
}
