.avatar > svg {
  position: absolute;
  width: 100%;
}

.c-skin {
  transition: fill 250ms ease-in-out;
  fill: var(--skin-tone);
}

.c-hair {
  transition: fill 250ms ease-in-out;
  fill: var(--hair-color);
}

.accessory-1,
.accessory-3,
.accessory-2 {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.accessory-active-1 .accessory-1,
.accessory-active-3 .accessory-2 {
  opacity: 1;
}

.accessory-active-2 .accessory-3 {
  opacity: 0.65;
}

.c-shirt {
  transition: fill 250ms ease-in-out;
  fill: var(--shirt-color);
}

.avatar-border {
  border: 1px solid var(--light-grey-2);
  border-radius: 4px;
}

.avatar-frame {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--white);
  position: relative;
  display: grid;
  gap: 8px 50px;
  align-items: center;
  grid-template-areas:
    "avi avi"
    "qp conf";
}

.avatar {
  position: relative;
  display: block;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  grid-area: avi;
}

.conference-logo {
  grid-area: conf;
  width: 95%;
  justify-self: end;
}

.qp-logo {
  grid-area: qp;
  width: 125%;
}

@supports not (aspect-ratio: 1) {
  .avatar::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .avatar::after {
    display: block;
    content: "";
    clear: both;
  }
}

.role-badge {
  position: absolute;
}
