.avatar > svg {
  position: absolute;
  width: 100%;
}

.c-skin {
  transition: fill 250ms ease-in-out;
  fill: var(--skin-tone);
}

.c-hair {
  transition: fill 250ms ease-in-out;
  fill: var(--hair-color);
}

.c-shirt {
  transition: fill 250ms ease-in-out;
  fill: var(--shirt-color);
}

.avatar-frame {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--navy);
  display: grid;
  gap: 4px 50px;
  align-items: center;
  grid-template-areas:
    "avi avi"
    "qp conf";
}

.avatar {
  position: relative;
  display: block;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  grid-area: avi;
}

.conference-logo {
  grid-area: conf;
  width: 100%;
}

.qp-logo {
  grid-area: qp;
  width: 100%;
}

@supports not (aspect-ratio: 1) {
  .avatar::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .avatar::after {
    display: block;
    content: "";
    clear: both;
  }
}
