@import "./reset";

:root {
  --light-grey-1: #eff4f9;
  --light-grey-2: #e2eaf0;
  --dark-grey: #5b6b7c;
  --green: #25c191;
  --white: #ffffff;
  --navy: #00204a;
  /* --navy: #093470; */
  --blue-grey: #5b6b7c;
  --blue: #115fce;
  --sky: #00bbf0;
  --body-width: 700px;

  --mobile-bp: 428px;
}

body {
  position: relative;
  background-color: var(--light-grey-1);
  height: 100vh;
  width: 100%;
  font-family: "Roboto", "Helvetica", Arial, Lucida Grande, sans-serif;
  color: var(--dark-grey);
}

* {
  box-sizing: border-box;
}

p,
a {
  font-size: 16px;
  line-height: 24px;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
  color: var(--navy);
}

a {
  color: #115fce;
  text-decoration: none;
}

a:visited {
  color: #115fce;
}

.App {
  display: grid;
  grid-gap: 16px;
  grid-template:
    "header" auto
    "copy"
    "body" 1fr;
}

.app-inner {
  max-width: var(--body-width);
  width: calc(100% - 40px);
  justify-self: center;
  grid-area: body;
  padding: 16px 33px;
  background-color: var(--white);
  border-radius: 4px;
  position: relative;
  display: inline-grid;
  gap: 16px;
  grid-template:
    "avi"
    "slds"
    "btns"
    "prnt";
}

.app-inner .buttons {
  grid-area: prnt;
  justify-content: center;
}

.avatar-wrapper {
  grid-area: avi;
  align-self: center;
}

.sliders-wrapper {
  grid-area: slds;
}

.copy {
  grid-area: copy;
  text-align: center;
  max-width: var(--body-width);
  justify-self: center;
  padding: 0 20px;
}

.logo {
  width: 200px;
  justify-self: center;
}

.header {
  grid-area: header;
  background-color: var(--navy);
  z-index: 0;
  padding: 0;
}

.header .buttons {
  display: none;
}

.header-inner {
  max-width: var(--body-width);
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  padding: 0;
}

.print-button,
.save-button {
  align-self: center;
  white-space: nowrap;
}

.print-button {
  background-color: var(--green);
  color: white;
  padding: 12px 14px;
  border-radius: 4px;
  font-weight: bold;
}

.print-button,
.save-button--desktop {
  display: none;
}

.save-button,
.save-button:visited,
.print-button:visited {
  color: white;
  font-weight: bold;
}

.save-button.blue {
  color: var(--blue);
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons .save-button {
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .app-inner {
    width: 100%;
    gap: 23px 32px;
    grid-template:
      "slds avi"
      "slds avi"
      "btns btns"
      ". prnt"
      / 1fr 197px;
  }

  .app-inner .buttons {
    justify-content: flex-end;
  }

  .header .buttons {
    display: flex;
  }

  .print-button,
  .save-button--desktop {
    display: inline-block;
  }

  .save-button--mobile {
    display: none;
  }

  .logo {
    width: 180px;
  }

  .header-inner {
    width: 80%;
    padding: 8px 20px;
    justify-content: space-between;
  }

  .footer-inner {
    width: 100%;
  }
}
