:root {
  --light-grey-1: #eff4f9;
  --light-grey-2: #e2eaf0;
  --green: #25c191;
  --white: #ffffff;
  --navy: #093470;
  --blue-grey: #5b6b7c;
  --blue: #115fce;
  --sky: #00bbf0;
  --body-width: 700px;

  --mobile-bp: 428px;
}

body {
  background-color: var(--light-grey-1);
  height: 100vh;
  width: 100%;
}

p,
a {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 24px;
}

a {
  color: #115fce;
  text-decoration: none;
}

a:visited {
  color: #115fce;
}

.App {
  display: grid;
  grid-gap: 16px;
  grid-template:
    "header" auto
    "body" 1fr
    "footer" 76px;
}

.app-inner {
  max-width: var(--body-width);
  width: 75%;
  justify-self: center;
  grid-area: body;
  padding: 16px 33px;
  background-color: var(--white);
  border-radius: 4px;
  position: relative;
  display: inline-grid;
  gap: 16px;
  grid-template:
    "avi"
    "slds"
    "btns";
}

@media only screen and (min-width: 768px) {
  .app-inner {
    width: 100%;
    gap: 6px 32px;
    grid-template:
      "slds avi"
      "slds btns"
      / 1fr 220px;
  }
}
.avatar-wrapper {
  grid-area: avi;
}

.sliders-wrapper {
  grid-area: slds;
}

.header {
  justify-self: center;
  max-width: var(--body-width);
  display: grid;
  justify-content: center;
  grid-area: header;
  text-align: center;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  width: 180px;
  justify-self: center;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: var(--navy);
}

.footer-inner {
  max-width: var(--body-width);
  width: 80%;
  display: flex;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .footer-inner {
    width: 100%;
  }
}

.print-button,
.save-button {
  align-self: center;
}

.print-button {
  background-color: var(--green);
  color: white;
  padding: 12px 14px;
  border-radius: 4px;
}

.save-button,
.save-button:visited,
.print-button:visited {
  color: white;
}
