.accs-btns {
  grid-area: btns;
  display: grid;
  gap: 20px;
  background-color: var(--light-grey-1);
  grid-template-columns: repeat(auto-fill, 48px);
  padding: 16.5px;
  align-items: center;
  justify-content: center;
}

.accs-btn {
  transition: transform 230ms ease-in-out, background-color 230ms ease-in-out;
  position: relative;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 4px;
  background-color: var(--light-grey-2);
  cursor: pointer;
  transform: scale(1);
}

.accs-btn:hover {
  transform: scale(1.1);
}

.accs-btn.active {
  background-color: var(--sky);
}

.accs-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}

@supports not (aspect-ratio: 1) {
  .accs-btn::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .accs-btn::after {
    display: block;
    content: "";
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  .accs-btns {
    grid-template-columns: repeat(9, 48px);
  }
}
